<%- include ("../partials/header.ejs")%>

<div class="container">
<h1 style="text-align: center">
Enter your travel experience!
</h1>
	<div style="width: 30%; margin:30px auto;">
		<form action="/campgrounds" method="POST">
			<div class="form-group">
				<input type="text" placeholder="Title" name="name1" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" placeholder="url of your travel image" name="image" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Price per night" name="price" min="0" step="1" class="form-control">
			</div>
	        <div class="form-group">
				<textarea type="text" placeholder="Description" name="description" class="form-control" rows="4" cols="50"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-large btn-info btn-block">
		 Create!
	</button>
			</div>
			<a href="/campgrounds"> Go back!</a>
			
</form>	
	</div>

</div>

<%- include ("../partials/footer.ejs")%>